{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card" style="background-color: #e3f2fd;">
              <div class="card-body">
                  <h2 class="card-title text-center mb-4">{% trans "Change password" %}</h2>
                  <p class="card-text text-center">{% trans "Should you wish to change your password, please follow the instructions below" %}</p>
                  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="hidden" name="next" value="{% url 'home' %}"/>
                    <button class="btn btn-outline-success" type="submit">{% trans "Submit change" %}</button>
                  </form>
                  <div class="col-6 mt-3">
                    <a href="{% url 'user_profile' %}" class="btn btn-outline-success">{% trans "Back to Profile" %}</a>
                  </div>
                  <div class="mt-3 text-center">
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>                 

{% endblock content %}



