
/* Body */
body {
    background-color: #FAF9F6;
    
}

/* Navigation bar */

.nav-link {
    color: initial;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
    transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link.active {
    background-color: #ff6347;
    color: #FAF9F6;
    border-radius: 10px;
    text-decoration: none;
}

/* Authentica pages styles */

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0,1);
    background-color: #e3f2fd;
}

/*.btn-primary {
    background-color: #e3f2fd;
    border-color: green;
}
*\
/* Style for links */
.card a {
    color: #2a9d8f ;
    text-decoration: none;
}

.card a:hover {
    color: #219ebc;
    text-decoration: underline;
    
}

.card-body {
    color: #000;
}

/* All buttons that is used in the site */
/* Delete button */
.btn.btn-outline-danger {
    background-color: #8ecae6!important;
    color: white !important;
    border: 5px solid  #219ebc!important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn.btn-outline-danger:hover {
    background-color: #ff6347  !important;
}

/*Edit button  */
.btn.btn-outline-warning {
    background-color: #e9c46a!important;
    color: white !important;
    border: 5px solid  #e9c46a!important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn.btn-outline-warning:hover {
    background-color: #2a9d8f  !important;
}



/* Submit button */
.btn.btn-outline-success {
    background-color: #8ecae6 !important;
    color: white !important;
    border: 5px solid #219ebc !important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;

    
}

.btn.btn-outline-success:hover {
    background-color: #219ebc !important;
}


/* Messages*/

.alert.alert-custom {
    background-color: #e9c46a !important;
    border: 5px solid #2a9d8f !important;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block !important;
}



    
