{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<h1>My Posts</h1>

<h2>Published Posts</h2>
<ul>
    {% for post in posts %}
        {% if post.status == "Published" %}
            <li>
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                <a href="{% url 'update_kayak_post' post.pk %}">Edit</a>
                <form action="{% url 'delete_kayak_post' post.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Draft Posts</h2>
<ul>
    {% for post in posts %}
        {% if post.status == "Draft" %}
            <li>
                <a href="{% url 'update_kayak_post' post.pk %}">{{ post.title }}</a>
                <form action="{% url 'delete_kayak_post' post.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endif %}
    {% endfor %}
</ul>
 
{% endblock %}
    
        