{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: #e3f2fd;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{% trans "Profile Edit" %}</h2>
                    <div class="text-center mb-4">
                    {% if user.userprofile.profile_picture %}
                        <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" width="200">
                    {% else %}
                        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Profile Picture" class="img-thumbnail" width="200">
                    {% endif %}
                    </div>
                    <div class="row mb-3 ">

                        <div class="col-6 ">
                            <a href="{% url 'account_change_password' %}" class="btn btn-outline-success">{% trans 'Password Change'%}</a>
                        </div>
                        <div class="col-6 text-end">
                            <a href="{% url 'delete_profile' %}" class="btn btn-danger">{% trans 'Delete Profile'%}</a> 
                        </div>
                                
                    </div>
                                   
                    <p class="card-text"><strong>{% trans "Username:" %}</strong> {{ user.username }}</p>
                    <p class="card-text"><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>

                    
                    {% if user.userprofile %}
                        <p class="card-text"><strong>{% trans "First Name:" %}</strong> {{ user.userprofile.first_name }}</p>
                        <p class="card-text"><strong>{% trans "Last Name:" %}</strong> {{ user.userprofile.last_name }}</p>
                        <p class="card-text"><strong>{% trans "Location:" %}</strong> {{ user.userprofile.location }}</p>
                        <p class="card-text"><strong>{% trans "Experience Level:" %}</strong> {{ user.userprofile.experience_level }}</p>
                        <p class="card-text"><strong>{% trans "Favorite Gear:" %}</strong> {{ user.userprofile.favorite_gear }}</p>
                        <p class="card-text"><strong>{% trans "Bio:" %}</strong> {{ user.userprofile.bio }}</p>
                        <a href="{% url 'profile_edit' %}" class="btn btn-outline-success mt-3">{% trans "Profile Edit" %}</a>
                    {% else %}
                        <p>{% trans "No profile information available." %}</p>
                        <a href="{% url 'profile_edit' %}" class="btn btn-outline-success mt-3">{% trans "Create Profile" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}


