{%extends 'base.html'%}
{% load static %}
{%load crispy_forms_tags%}

{%block content %}

<div class="container mt-5">
  <h1 class="text-center">Contact Us</h1>
  {% if messages %}
  <div class="alert alert-custom">

    {% for message in messages %}
    {{ message }}
    {% endfor %}

  </div>
  {% endif %}

  <form method="post" class="kayak_contact_form">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_name" class="form-label"><i class="fa-solid fa-circle-user"></i></label>
      {{ form.name|as_crispy_field}}
    </div>
    <div class="mb-3">
      <label for="id_email" class="form-label"><i class="fa-solid fa-envelope-open"></i></label>
      {{ form.email|as_crispy_field }}
    </div>
    <div class="mb-3">
      <label for="id_message" class="form-label"><i class="fa-regular fa-comment-dots"></i></label>
      {{ form.message|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-outline-success">Send Message</button>
  </form>
</div>

{%endblock content%}