{%extends 'base.html'%}
{%load crispy_forms_tags%}

{%block content %}

<div class="container mt-5">
  <h1 class="text-center">Contact Us</h1>
  {% if messages %}
  <div class="alert alert-custom">

    {% for message in messages %}
    {{ message }}
    {% endfor %}

  </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label"></label>
      {{ form.name|as_crispy_field}}
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"></label>
      {{ form.email|as_crispy_field }}
    </div>
    <div class="mb-3">
      <label for="message" class="form-label"></label>
      {{ form.message|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-outline-success">Send Message</button>
  </form>
</div>

{%endblock content%}

