
/* Body */
/* Background */
body {
    background-color: black;
    
}

/* Main content styles */
.main-bg {
    position: relative;
    color: white; 
    padding: 20px; 
}

/* Video background */
.video-background {
    position: fixed; 
    top: 50%;
    left: 50%; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
    z-index: -1; 
    transform: translate(-50%, -50%); 
    overflow: hidden; 
}




/* Navigation bar */

.navbar {
    background-color: transparent !important;
}

.navbar .navbar-toggler {
    background-color: #ff6347;
    color: #219ebc;
         
}


.nav-link {
    color: initial;
    background-color: #2a9d8f;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 5px solid  #2a9d8f !important;
    margin-right: 10px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link.active {
    background-color: #ff6347;
    color: #FAF9F6;
    border-radius: 10px;
    text-decoration: none;
}




/* Authentica pages styles */

.card {
    border: none;
    background-color: #e3f2fd;
}

/*.btn-primary {
    background-color: #e3f2fd;
    border-color: green;
}
*\
/* Style for links */
.card a {
    color: black;
    text-decoration: none;
    
}

.card a:hover {
    color: white;
    text-decoration: underline;
    
}

a {
    color: white;
    text-decoration: underline; 
}

a:hover {
    color: #ff6347;
    text-decoration: underline;
    
}

.card-body {
    color: #000;
    background-color: #2a9d8f;
    border: 10px solid  #2a9d8f!important;
    border-radius: 5px;
}

/* All buttons that is used in the site */
/* Delete button */
.btn.btn-outline-danger {
    background-color: #e3f2fd!important;
    color: black !important;
    border: 5px solid  #219ebc!important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn.btn-outline-danger:hover {
    color: white !important;
    background-color: #ff6347  !important;
}

/*Edit button  */
.btn.btn-outline-warning {
    background-color: #e3f2fd!important;
    color: black !important;
    border: 5px solid  #e9c46a!important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn.btn-outline-warning:hover {
    color: white !important;
    background-color: #2a9d8f  !important;
}



/* Submit button */
.btn.btn-outline-success {
    background-color: #e3f2fd !important;
    color: black !important;
    border: 5px solid #219ebc !important;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;

    
}

.btn.btn-outline-success:hover {
    color: white !important;
    background-color: #219ebc !important;
}

.btn.btn-outline-secondary {
    color: black  !important;
    border-radius: 10px;
    padding: 10px 20px;
   
}

.btn.btn-outline-secondary:hover {
    color: white !important;
    text-decoration: underline;
    
}

/* Messages*/

.alert.alert-custom {
    background-color: #e9c46a !important;
    border: 5px solid #2a9d8f !important;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block !important;
}

/* POP up message */
.modal-content {
    color: black;
}


/* Posts styling */
.post-content {
    background-color: #FAF9F6;
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 20px;
    
}

.scrollable-content {
    max-height: 600px;
    overflow-y: auto;
    border: 5px solid #FAF9F6;
    padding: 15px;
    border-radius: 10px;
}



/* Footer */
.footer {
    background-color: transparent !important;
    color: white !important;
}

.footer i {
    color: initial;
    background-color: white ;
    font-weight: 700;
    border: 5px solid #2a9d8f ;
    border-radius: 10px;
}

.footer i:hover{
    border: 5px solid white;
    
}

