
/* Body */
body {
    background-color: #FAF9F6;
    
}

/* Navigation bar */

.nav-link {
    color: initial;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
    transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link.active {
    background-color: #ff6347;
    color: #FAF9F6 !important;
    border-radius: 10px;
    text-decoration: none;
}

/* Authenticate pages styles */

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0,1);
    background-color: #e3f2fd;
}


/* Style for all links */
.card a {
    color: green;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card-body {
    color: #000;
}

/* Delete button  */
.btn-danger {
    color: white !important;
    
}

/* All buttons that is used in the site */
.btn.btn-outline-success {
    background-color: #ff6347 !important;
    color: white !important;
    
}



    
